<h2>Posts</h2>

<ng-container *ngIf="posts.length > 0; else noPosts">
  <div class="row">
    <ng-container *ngFor="let post of posts">
      <div class="col-lg col-lg-4 col-4">
        <div class="card">
          <div class="card-body">
            <h2>{{ post['title'] }}</h2>
            <i>Posted by</i> <strong>{{ post['author']['name'] }}</strong>
            <hr>
            <a href="#">
              See more...
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #noPosts>
  <ng-container *ngIf="!isLoading">
    <div class="alert alert-warning">
      No Posts!
    </div>
  </ng-container>
</ng-template>
