<div class="footer">
  <div class="footerInner">
    <p class="mb-0">
      <a href="#" target="_blank" rel="noopener noreferrer" class="logo">
      </a>
      Copyright © {{ year }}
    </p>
  </div>
</div>
