@import 'src/app/components/mixins.scss';

.footer {
  margin: 0 auto;
  padding: 0 rem(30) 15px;

  @media (max-width: $sm-max-width) {
    padding: 0 rem(16) !important;
  }
}

.footerInner {
  border-top: 1px solid $border;
  padding-top: 16px;
  font-size: 12px;
  color: #000;
  line-height: 14px;
}

.logo {
  color: #000;
  font-size: rem(15);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 800;
  margin-right: 5px;
  span {
    display: inline-block;
    height: rem(12);
    width: rem(12);
    background: $black;
    border-radius: 20px;
    margin-left: rem(8);
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .footer {
    color: $dark-gray-1;
  }

  .footerInner {
    border-top: 1px solid $dark-gray-4;
  }

  .logo {
    color: $dark-gray-1;
    &:hover {
      color: $primary;
    }
    span {
      background: $dark-gray-1;
    }
  }
}
