@import 'src/app/components/mixins.scss';

.topbar {
  padding: 0;
  //min-height: 64px;
  //height: 64px;
  border-bottom: 0 solid $border;
  color: $text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: $gray-1-dark;
  @media (max-width: $sm-max-width) {
    padding: 0 rem(16);
  }
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .topbar {
    background: $dark-gray-6;
    color: $dark-gray-1;
    border-bottom: 1px solid $dark-gray-4;
  }
}
