<h4>My Posts</h4>

<a routerLink="/user/posts/create" class="btn btn-outline-success mb-3">
  <i class="fa fa-plus"></i> Create New Post
</a>

<!-- Data table -->
<ng-container *ngIf="items.length > 0">
  <div class="clearfix"></div>
  <div class="">
    <nz-table
      [nzData]="items"
      [nzShowPagination]="false"
      [nzBordered]="true"
      nzNoResult="No result found."
      [nzLoading]="isLoading">
      <thead>
        <tr>
          <th scope="col" class="text-center" nzWidth="50px">
            #
          </th>
          <th scope="col" class="">
            Post Title
          </th>
          <th scope="col" class="text-center" nzWidth="200px">
            Created At
          </th>
          <th scope="col" class="text-center" nzWidth="180px">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.created_at | niceDate }}</td>

        <td class="text-center">
          <a [routerLink]="[item.id, 'details']" class="btn btn-outline-success">
            <i class="fa fa-plus"></i>
          </a>
          &nbsp;
          <a class="btn btn-outline-dark" (click)="onEditPostModalOpen(item)">
            <i class="fa fa-edit"></i>
          </a>
          &nbsp;
          <a class="btn btn-outline-danger" (click)="onDeletePostModalOpen(item)">
            <i class="fa fa-times"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading && items.length === 0">
  <div class="nz-spin-h mt-3 mb-3">
    <nz-alert nzType="info" nzMessage="No data available!" nzCloseable></nz-alert>
  </div>
</ng-container>
