<div>
  <div class="card boxContainer p-4">
    <div class="text-dark font-size-24 mb-3">
      <strong>Register</strong>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmitForm()" role="form">

      <div class="form-group">
        <label>Name</label>
        <div class="">
          <input type="text" formControlName="name" placeholder="Name" class="form-control"/>
        </div>
        <div *ngIf="name.errors && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required" class="invalid-feedback force-show">
            This field is mandatory.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <div class="">
          <input type="text" formControlName="email" placeholder="Email" class="form-control"/>
        </div>
        <div *ngIf="email.errors && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required" class="invalid-feedback force-show">
            This field is mandatory.
          </div>
          <div *ngIf="email.errors.email" class="invalid-feedback force-show">
            This field is invalid.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <div class="">
          <input type="password" formControlName="password" placeholder="" class="form-control"/>
        </div>
        <div *ngIf="password.errors && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required" class="invalid-feedback force-show">
            This field is mandatory.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <div class="">
          <input type="password" formControlName="confirmPassword" placeholder="" class="form-control"/>
        </div>
        <div *ngIf="confirmPassword.errors && (email.dirty || confirmPassword.touched)">
          <div *ngIf="confirmPassword.errors.required" class="invalid-feedback force-show">
            This field is mandatory.
          </div>
        </div>

        <div *ngIf="form.errors && (confirmPassword.dirty || confirmPassword.touched)">
          <div *ngIf="form.errors.mismatchPassword" class="invalid-feedback force-show">
            Password does not match.
          </div>
        </div>
      </div>

      <div class="form-group">
        <button nz-button nzType="primary"  class="text-center w-100">
          <strong>Register</strong>
        </button>
      </div>
    </form>
    <a routerLink="/auth/login" class="btn btn-dark">
      LOGIN
    </a>
    <a routerLink="/posts" class="btn btn-dark  mt-3">
      <i class="fe fe-home"></i> HOME
    </a>
  </div>
</div>
