<div>
  <div class="text-center mb-3">
    <div class="logoContainer">
    </div>
  </div>
  <div class="card boxContainer">
    <div class="text-dark font-size-24 mb-3">
      <strong>Login</strong>
    </div>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="onSubmitForm()" role="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <input type="text" nz-input formControlName="email" nzSize="large" placeholder="Email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <input type="password" nz-input nzSize="large" formControlName="password" placeholder="Password" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <input type="checkbox" formControlName="remember" id="remember-me"/>
          <label for="remember-me" class="ml-1">Remember me</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
            <strong>Log In</strong>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <a routerLink="/auth/register" class="btn btn-dark">
      Register
    </a>
    <a routerLink="/posts" class="btn btn-dark mt-3">
      <i class="fe fe-home"></i> HOME
    </a>
  </div>
</div>
