.change-size-select {
  width: 58px;
  display: inline-flex;
  font-size: 0.825rem;
  height: auto;
}
.to-right-position {
  display: inline-block;
  float: right;
  padding: 7px 0;
}
span {
  color: #000;
  font-size: 12px;
  line-height: 14px;
}
