<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <div class="modal-header">
    <h4>Edit Post</h4>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" [formControl]="title" class="form-control">

        <div *ngIf="title.errors && (title.dirty || title.touched)">
          <div *ngIf="title.errors.required" class="invalid-feedback force-show">
            This field is mandatory.
          </div>
        </div>
      </div>

    <div class="form-group">
      <label for="title">Description:</label>
      <textarea type="text" id="description" [formControl]="description" class="form-control"></textarea>

      <div *ngIf="description.errors && (description.dirty || description.touched)">
        <div *ngIf="description.errors.required" class="invalid-feedback force-show">
          This field is mandatory.
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-outline-success" type="submit">Save</button>
      <button class="btn btn-outline-danger" type="button">Cancel</button>
  </div>
</form>
