@import 'src/app/components/mixins.scss';

.dropdown {
  padding-right: 16px;
  position: relative;
  cursor: pointer;
  &::after {
    opacity: 0.5;
    color: $gray-5;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    display: none;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    @include transition-slow();
  }

  &:hover {
    color: $blue;

    &::after {
      color: $gray-6;
    }
  }
}

.avatar {
  background-color: $gray-2 !important;
}

// dark theme
:host-context([data-kit-theme='dark']) {
  .avatar {
    background: $dark-gray-4 !important;
  }
}
.ant-dropdown-menu-item > a,
.ant-dropdown-menu-submenu-title > a,
.ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-item {
  color: #000 !important;
}
.font-size-12 {
  font-size: 12px;
  line-height: 14px;
}
.font-size-14 {
  font-size: 14px;
  line-height: 16px;
}
.btn-downloadable {
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 38px;
}
a.acr-url img {
  max-height: 70px;
}
a.user-logout-button i {
  font-weight: 600;
}
