<div class="menu gray">
  <div class="navigation">
    <ul nz-menu [nzMode]="'horizontal'">
      <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
        <a routerLink="/posts" title="Posts">
          <span class="title"><i class="fe fe-home"></i> Home</span>
        </a>
      </li>
      <ng-container *ngIf="!isAuth">
        <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/auth/login" title="Login">
            <span class="title">Login</span>
          </a>
        </li>
        <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/auth/register" title="Register">
            <span class="title">Register</span>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="isAuth">
        <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
          <a title="Hello {{ name }}">
            <span class="title"><strong>Hello, {{ name }} !</strong></span>
          </a>
        </li>

        <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/user/posts" title="My Posts">
            <span class="title"><i class="fe fe-clipboard"></i> My Posts</span>
          </a>
        </li>

        <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/user/logout" title="Logout">
            <span class="title">Logout</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
