@import 'src/app/components/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/* MENU COMPONENT */
.menu {
  border-bottom: 0 solid $border;
  display: flex;
  flex-direction: row;
  //background: $white;
  font-size: rem(15);

  /////////////////////////////////////////////////////////////////////////////////////////
  /* LOGO */
  .logoContainer {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 rem(28);

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: rem(24);
      white-space: nowrap;
    }
    .name {
      font-size: rem(20);
      font-weight: 700;
      color: $black;
    }
    .descr {
      margin-left: rem(13);
      padding-left: rem(13);
      height: rem(28);
      line-height: rem(28);
      border-left: 1px solid $gray-2;
      font-size: rem(14);
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* ANTD MENU CUSTOMIZATION */
  .navigation {
    flex: 1 1 0%;
    overflow: hidden;
    padding-bottom: 1px;

    .title {
      font-size: 14px;
      line-height: 16px;
    }
    .ant-menu-item {
      padding: 0 12px;
    }
    .ant-menu-horizontal > .ant-menu-item-selected {
      background-color: $white;
      border-color: $white;
      font-weight: 700;
    }
    /////////////////////////////////////////////////////////////////////////////////////////
    /* ICON */
    .icon {
      color: $gray-5;
      margin-right: rem(10);
      font-size: rem(17);
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      top: 2px;

      @at-root {
        ::ng-deep {
          .ant-menu-submenu-popup {
            .icon {
              display: none;
            }
          }
        }
      }
    }

    ::ng-deep {
      .ant-menu-submenu-title {
        color: $text;

        &:hover {
          color: $primary;
        }
      }

      .ant-menu-item {
        outline: none;

        > a,
        > span {
          color: $text;

          &:hover {
            color: $primary;

            .icon {
              color: $primary;
            }
          }
        }
      }

      .ant-menu-horizontal {
        border-bottom: 0;
        background: transparent;
      }

      .ant-menu-submenu-selected {
        .ant-menu-submenu-title,
        .icon {
          color: $primary;
        }
      }

      .ant-menu-submenu-active {
        .icon {
          color: $primary;
        }
      }
    }

    .ant-menu-item > a {
      color: #2d3645;
    }
    .ant-menu-item.ant-menu-item-selected > a {
      color: #000;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/* GRAY THEME */
.gray {
  background: $gray-1-dark;
}

/////////////////////////////////////////////////////////////////////////////////////////
/* DARK THEME */
.dark {
  color: $dark-gray-1;
  background: $dark-gray-6 !important;
  border-bottom: 1px solid $dark-gray-4;

  .logoContainer {
    .name {
      color: $white;
    }
    .descr {
      color: $dark-gray-2;
      border-left: 1px solid $dark-gray-4;
    }
  }

  .navigation {
    .icon {
      color: $dark-gray-2;
    }
    ::ng-deep {
      .ant-menu-item-group-title {
        color: darken($dark-gray-3, 10%) !important;
      }

      .ant-menu-submenu-title {
        color: $dark-gray-2;

        &:hover {
          color: $primary;
        }
      }

      .ant-menu-item {
        > a {
          color: $dark-gray-2;

          &:hover {
            color: $primary;

            .icon {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
