<h4>
  Post - {{ post?.title }}
</h4>

<ng-container *ngIf="post else noClinicFound">
  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.description }}</td>
        <td>{{ post.created_at | niceDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</ng-container>

<ng-template #noClinicFound>
  <nz-alert [nzType]="'info'" nzMessage="'No Post Found!'"></nz-alert>
</ng-template>
