<nz-sider nzCollapsible
  [nzWidth]="isMenuCollapsed ? 80 : leftMenuWidth"
  [nzCollapsible]="true"
  [(nzCollapsed)]="isMenuCollapsed && !isMobileView"
  (nzCollapsedChange)="onCollapse($event)"
  [ngClass]="{
  menu: true,
  dark: true,
  unfixed: false,
  shadow: isMenuShadow && !isMobileView
}">
  <div style="position: relative">
    <div class="menuOuter" [ngStyle]="{
      width: isMenuCollapsed && !isMobileView ? '80px' : leftMenuWidth + 'px',
      height: isMobileView || isMenuUnfixed ? 'calc(100% - 64px)' : 'calc(100% - 210px)'
    }">
      <div class="logoContainer">
        <div class="logo">
          <img src="./assets/images/logo.svg" alt="{{ logo }}" />
        </div>
      </div>
      <perfect-scrollbar>
        <ul class="navigation">
          <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: menuDataActivated, level: 0}"></ng-container>
          <ng-template #menuTpl let-menuDataActivated let-level="level">
            <ng-container *ngFor="let item of menuDataActivated">

              <ng-container *ngIf="hasRoleAccess(item); else disabledLink">
                <li class="ant-menu-item ng-star-inserted" routerLinkActive="ant-menu-item-selected">
                  <a routerLink={{item.url}} title="{{item.title}}">
                    <span class="icon-x">
                      <i *ngIf="item.icon" [ngClass]="[item.icon]"></i>
<!--                      <img *ngIf="item.svg" [src]="item.svg" alt="" [ngClass]="[item.ico_class, 'icon']"/>-->
                    </span>
                    <span class="title ">{{item.title}}</span>
                  </a>
                </li>
              </ng-container>
              <ng-template #disabledLink>
                <li class="ant-menu-item ng-star-inserted" >
                  <a title="{{item.title}}" class="disabled">
                    <span class="icon-x">
                      <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
<!--                      <img *ngIf="item.svg" [src]="item.svg" alt="" [ngClass]="[item.ico_class, 'icon']"/>-->
                    </span>
                    <span class="title">{{item.title}}</span>
                  </a>
                </li>
              </ng-template>

            </ng-container>
          </ng-template>
        </ul>
      </perfect-scrollbar>
    </div>
  </div>
</nz-sider>
