.calendar-filter ul {
  clear: both;
  padding: 0;
  margin: 0;
  display: block;
  min-height: 30px;
}
.calendar-filter ul li.calendar-month-item,
.calendar-filter ul li.calendar-day-item,
.calendar-filter ul li.calendar-hour-item {
  float: left;
  display: inline-block;
  border-left: 1px #fff solid;
  font-size: 12px;
}
.calendar-filter ul li.calendar-day-item.size-31 {
  width: 3.225%;
}
.calendar-filter ul li.calendar-day-item.size-30 {
  width: 3.333%;
}
.calendar-filter ul li.calendar-day-item.size-29 {
  width: 3.448%;
}
.calendar-filter ul li.calendar-day-item.size-28 {
  width: 3.571%;
}
.calendar-filter ul li.calendar-month-item {
  width: 8.333%;
}
.calendar-filter ul li.calendar-hour-item {
  width: 4.166%;
}
.calendar-filter ul li.calendar-day-item:first-child,
.calendar-filter ul li.calendar-hour-item:first-child {
  border-left: 0;
}
.calendar-filter ul li.calendar-month-item:last-child {
  border-left: 0;
}

.calendar-filter ul li.calendar-month-item span,
.calendar-filter ul li.calendar-day-item span,
.calendar-filter ul li.calendar-hour-item span {
  display: block;
  padding: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  text-align: center;
}
.calendar-filter ul li.calendar-month-item span.active,
.calendar-filter ul li.calendar-day-item span.active,
.calendar-filter ul li.calendar-hour-item span.active {
  border: 1px #555 solid; // 4B7CF3
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
  z-index: 9;
  position: relative;
}
.calendar-filter ul li span:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
  border: 1px #555 solid; // 4B7CF3
  z-index: 9;
  position: relative;
}
.calendar-filter ul li.calendar-month-item span.disabled,
.calendar-filter ul li.calendar-day-item span.disabled,
.calendar-filter ul li.calendar-hour-item span.disabled {
  background-color: #e5e7eb;
  cursor: not-allowed;
  color: #e7e9ed;
}
.float-left {
  float: left;
}
span.circle-red {
  background-color: #ff8080 !important;
  color: #444 !important;
}
span.circle-orange {
  background-color: #eeb17f !important;
  color: #444 !important;
}
span.circle-yellow {
  background-color: #ffff80 !important;
  color: #444 !important;
}
span.circle-green {
  //background-color: #80D8A8 !important;
}
span.circle-gray {
  //background-color: transparent !important;
  //color: #333;
}
