<div class="calendar-filter mt-3 mb-2">
  <ul *ngIf="months">
    <li *ngFor="let monthItem of months" class="calendar-month-item float-right">
      <span class="{{ getColorStatus(monthItem) }}"
        [ngClass]="{'active': isActiveMonth(monthItem), 'disabled': loading}"
        (click)="onSelectMonth(monthItem)"
        placement="top" ngbTooltip="{{ monthItem.info }}">
        {{ monthItem.label }}
      </span>
    </li>
  </ul>

  <ul *ngIf="month && days">
    <li *ngFor="let dayItem of days" class="calendar-day-item size-{{ this.noOfDays }}">
      <span class="{{ getColorStatus(dayItem) }}"
        [ngClass]="{'active': isActiveDay(dayItem), 'disabled': loading}"
        (click)="onSelectDay(dayItem)">
        {{ dayItem.label }}
      </span>
    </li>
  </ul>

  <ul *ngIf="day && hours">
    <li *ngFor="let hourItem of hours" class="calendar-hour-item">
      <span class="{{ getColorStatus(hourItem) }}"
        [ngClass]="{'active': isActiveHour(hourItem), 'disabled': loading}"
        (click)="onSelectHour(hourItem)">
        {{ hourItem.label }}
      </span>
    </li>
  </ul>
</div>
