.overlay {
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  -webkit-animation: slide 0.4s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.4s forwards;
  animation-delay: 0s;
  -webkit-box-shadow: -4px 0 8px 0 rgba(45, 54, 69, 0.15);
  -moz-box-shadow: -4px 0 8px 0 rgba(45, 54, 69, 0.15);
  box-shadow: -4px 0 8px 0 rgba(45, 54, 69, 0.15);
  z-index: 99;
}
.data-card {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  border-width: 0 0 0 1px;
  border-color: #e4e9f0;
  border-style: solid;
  transition: transform 0.4s ease; /* our nice transition */
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
