.padding-0 {
  padding: 0;
}
.badge {
  padding: 6px;
}
.no-text-transform {
  text-transform: none;
}
.border-radius-25 {
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.badge-breadcrumb-blue {
  background-color: #ebf1ff;
  border: 1px #3a7df4 solid;
  color: #3a7df4;
}
.badge-circle-close {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  line-height: 15.5px;
  font-size: 11px;
  margin-left: 4px;
}
.badge-breadcrumb-blue .badge-circle-close {
  background-color: #3a7df4;
  color: #fff;
}
.badge-breadcrumb-red {
  background-color: #ffebef;
  border: 1px #f43a56 solid;
  color: #f43a56;
}
.badge-breadcrumb-red .badge-circle-close {
  background-color: #f43a56;
  color: #fff;
}
.badge-circle-close i {
  width: 12px;
  height: 12px;
}
