<ng-container *ngIf="filter">
  <div class="clearfix">
    <ul class="list-group list-group-horizontal" style="display: inline-flex">
      <ng-container *ngFor="let item of filter | keyvalue">
        <li class='list-group-item border-0 pl-0 pr-0 mr-2' *ngIf="displayFilter(item)">
          <a class="badge badge-breadcrumb-blue border-radius-25 no-text-transform" title="{{ keyToLabel(item.key) }}">
            {{ keyToLabel(item.key) }}
            <span (click)="clearFilterKey(item.key)" class="badge-circle-close">
              <i class="fa fa-times"></i>
            </span>
          </a>
        </li>
      </ng-container>
      <li class='list-group-item border-0 pl-0 pr-0 mr-2' *ngIf="hasFilters()">
        <a class="badge badge-breadcrumb-red border-radius-25"
           title="Remove all filters"
           placement="top"
           ngbTooltip="Remove all filters"
           (click)="clearAllFilters()" >
            <span class="badge-circle-close ml-0 mr-0">
              <i class="fa fa-times"></i>
            </span>
        </a>
      </li>
    </ul>
  </div>
</ng-container>
